<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>COMP 4905 Project</title>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/app.client.js"></script>
    </head>
    <body>
        This is a test:
        <br>
        <button id="countButton">Count</button>
        <br>
        Count: <div id="countLabel"></div>
    </body>
</html>