<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>COMP 4905 Project</title>
        <link rel="icon" type="image/x-icon" href="images/favicon.png" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/passcode.js"></script>
        <script type="text/javascript" src="js/app.client.js"></script>
        <!--- <audio id="test-audio" src="audio/test.mp3"></audio> --->
        <audio id="audio"></audio>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <div class="block">
            <b>Exploring Rhythm-Based Passcodes for the Web</b>
            <br>
            Participant #<span id="user-id">???</span>,
            Session #<span id="session-num">???</span>
        </div>
        <div class="grid-upper">
            <div class="grid-upper-child block">
                Rhythm Entry
                <hr>
                <button id="play-audio"><img src="images/play.png" height="10px" /> Play</button>
                <button id="next-audio" disabled autocomplete="off">Next</button>
                <div id="recording-toggle" class="unselected">
                    <br>
                    Click here to start/stop rhythm entry
                    <br>
                    <b><span id="recording-status">Not Recording</span></b>
                    <br>
                    <br>
                </div>
            </div>
            <div class="grid-upper-child block">
                Stages
                <hr>
                <table id="stage-table">
                </table>
            </div>
            <div class="grid-upper-child block">
                Statistics
                <hr>
                <table id="stat-table">
                    <tr>
                        <td>Success</td>
                        <td><span id="stat-result">N/A</span></td>
                    </tr>
                    <tr>
                        <td>Accuracy</td>
                        <td><span id="stat-accuracy">N/A</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bottom-block block">
            Instructions
            <hr>
            <ol>
                <li id="instruction-1">Click the "Play" button to listen to a melody. You may do this as many times as you wish.</li>
                <li>Click the red area to make the application listen for your input.</li>
                <li>Tap your spacebar to enter the rhythm.</li>
                <li>Once you are finished, click the green area to conclude recording.</li>
                <li>Click "Next" to move to the next stage. Practice stages can be done several times. Only press "Next" when you are finished.</li>
            </ol>
        </div>
        <div class="log-block block">
            Logs (<span id="log-count">0</span>)
            <button id="log-copy"><img src="images/copy.png" height="12px" /> Copy</button>
            <button id="log-send"><img src="images/send.png" height="12px" /> Send</button>
            <hr>
            <textarea id="log-textarea" rows="5" readonly autocomplete="off"></textarea>
        </div>
    </body>
</html>